.material-datatables .input-sm {
  height: 35px;
  padding: 0
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
  border: 0
}

table.dataTable td,
table.dataTable th {
  box-sizing: content-box
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center
}

table.dataTable.nowrap td,
table.dataTable.nowrap th {
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: 400;
  text-align: left;
  white-space: nowrap
}

div.dataTables_wrapper.form-inline {
  display: block;
  flex-flow: unset;
  align-items: unset
}

div.dataTables_wrapper.form-inline label {
  display: inline-block;
  flex: unset;
  flex-flow: unset;
  align-items: unset
}

div.dataTables_wrapper.form-inline label.form-group {
  margin: 0
}

div.dataTables_wrapper .material-icons {
  font-size: 20px !important
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: 400;
  white-space: nowrap;
  text-align: left;
  padding: 0
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: .5em;
  display: inline-block;
  width: auto
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0
}

table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc {
  padding-right: 30px
}

table.dataTable thead>tr>td:active,
table.dataTable thead>tr>th:active {
  outline: none
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none
}

div.dataTables_scrollBody table tbody tr:first-child td,
div.dataTables_scrollBody table tbody tr:first-child th {
  border-top: none
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none
}

@media screen and (max-width:767px) {

  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center
  }
}

table.dataTable.table-condensed>thead>tr>th {
  padding-right: 20px
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px
}

table.table-bordered.dataTable td,
table.table-bordered.dataTable th {
  border-left-width: 0
}

table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable th:last-child {
  border-right-width: 0
}

div.dataTables_scrollHead table.table-bordered,
table.table-bordered.dataTable tbody td,
table.table-bordered.dataTable tbody th {
  border-bottom-width: 0
}

div.table-responsive>div.dataTables_wrapper>div.row {
  margin: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child {
  padding-left: 0
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:last-child {
  padding-right: 0
}

table.dataTable .btn-simple.btn-icon {
  padding: 3px
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: relative;
  display: inline-block;
  bottom: 1px;
  right: -7px;
  font-family: FontAwesome;
  opacity: .8;
  font-size: 12px
}

table.dataTable thead .disabled-sorting.sorting:after,
table.dataTable thead .disabled-sorting.sorting_asc:after,
table.dataTable thead .disabled-sorting.sorting_asc_disabled:after,
table.dataTable thead .disabled-sorting.sorting_desc:after,
table.dataTable thead .disabled-sorting.sorting_desc_disabled:after {
  display: none
}

table.dataTable thead .sorting:after {
  opacity: .4;
  content: "\f0dc"
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  top: 2px
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  top: -3px
}

table.dataTable>tbody>tr>td,
table.dataTable>tbody>tr>th,
table.dataTable>tfoot>tr>td,
table.dataTable>tfoot>tr>th,
table.dataTable>thead>tr>td,
table.dataTable>thead>tr>th {
  padding: 5px !important;
  outline: 0;
  max-width: 250px;
  /* width:150px; */
  border-right: 0;
  border-bottom: 0
}

table.dataTable>thead>tr>th {
  border: none
}

.dataTables_paginate a {
  outline: 0
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child {
  cursor: default !important
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child:before {
  display: none !important
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
  position: relative;
  padding-left: 30px;
  cursor: pointer
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
  top: 50%;
  margin-top: -9px;
  left: 4px;
  height: 18px;
  width: 18px;
  display: block;
  position: absolute;
  color: #4caf50;
  border: 0 solid #fff;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: Courier New, Courier, monospace;
  line-height: 18px;
  content: "+";
  background-color: #fff
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
  content: "-";
  color: #f44336
}

table.dataTable.dtr-inline.collapsed>tbody>tr.child td:before {
  display: none
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
  padding-left: 27px
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child:before {
  top: 5px;
  left: 4px;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  line-height: 14px;
  text-indent: 3px
}

table.dataTable.dtr-column>tbody>tr>td.control,
table.dataTable.dtr-column>tbody>tr>th.control {
  position: relative;
  cursor: pointer
}

table.dataTable.dtr-column>tbody>tr>td.control:before,
table.dataTable.dtr-column>tbody>tr>th.control:before {
  top: 50%;
  left: 50%;
  height: 16px;
  width: 16px;
  margin-top: -10px;
  margin-left: -10px;
  display: block;
  position: absolute;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  font-family: Courier New, Courier, monospace;
  line-height: 14px;
  content: "+";
  background-color: #31b131
}

table.dataTable.dtr-column>tbody>tr.parent td.control:before,
table.dataTable.dtr-column>tbody>tr.parent th.control:before {
  content: "-";
  background-color: #d33333
}

table.dataTable>tbody>tr.child {
  padding: .5em 1em
}

table.dataTable>tbody>tr.child:hover {
  background: transparent !important
}

table.dataTable>tbody>tr.child ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0
}

table.dataTable>tbody>tr.child ul li {
  border-bottom: 1px solid #efefef;
  padding: .5em 0
}

table.dataTable>tbody>tr.child ul li:first-child {
  padding-top: 0
}

table.dataTable>tbody>tr.child ul li:last-child {
  border-bottom: none
}

table.dataTable>tbody>tr.child span.dtr-title {
  display: inline-block;
  min-width: 75px;
  font-weight: 700
}

div.dtr-modal {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  padding: 10em 1em
}

div.dtr-modal div.dtr-modal-display {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  z-index: 102;
  overflow: auto;
  background-color: #f5f5f7;
  border: 1px solid #000;
  border-radius: .5em;
  box-shadow: 0 12px 30px rgba(0, 0, 0, .6)
}

div.dtr-modal div.dtr-modal-content {
  position: relative;
  padding: 1em
}

div.dtr-modal div.dtr-modal-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  z-index: 12
}

div.dtr-modal div.dtr-modal-close:hover {
  background-color: #eaeaea
}

div.dtr-modal div.dtr-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, .6)
}

.material-datatables .input-sm {
  height: 35px;
  padding: 0
}

@media screen and (max-width:767px) {
  div.dtr-modal div.dtr-modal-display {
    width: 95%
  }

  table.dataTable>tbody>tr>td:first-child {
    padding-left: 30px !important
  }
}

@media (min-width:520px) and (max-width:730px) {
  table.dataTable .btn-simple.btn-icon {
    display: block;
    margin: 0
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9
}

.tableamountright {
  text-align: right;
}

.tabledatacenter {
  text-align: center;
}

.newcard-body {
  flex: 1 1 auto;
  padding: 1.25rem
}

/* .newcard {
 font-size:.875rem
} */
.newcard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;
  border-radius: .25rem
}

.newcard>hr {
  margin-right: 0;
  margin-left: 0
}

.newcard>.list-group:first-child .list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.newcard>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.newcard-body {
  flex: 1 1 auto;
  padding: 1.25rem
}

.newcard-title {
  margin-bottom: .75rem;
  text-align: right
}

.newcard-subtitle {
  margin-top: -.375rem
}

.newcard-subtitle,
.newcard-text:last-child {
  margin-bottom: 0
}

.newcard-link:hover {
  text-decoration: none
}

.newcard-link+.newcard-link {
  margin-left: 1.25rem
}

.newcard-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #eee
}

.newcard-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.newcard-header+.list-group .list-group-item:first-child {
  border-top: 0
}

.newcard-footer {
  padding: .75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid #eee
}

.newcard-footer:last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.newcard-header-tabs {
  margin-bottom: -.75rem;
  border-bottom: 0
}

.newcard-header-pills,
.newcard-header-tabs {
  margin-right: -.625rem;
  margin-left: -.625rem
}

.newcard-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem
}

.newcard-img {
  width: 100%;
  border-radius: calc(.25rem - 1px)
}

.newcard-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px)
}

.newcard-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(.25rem - 1px);
  border-bottom-left-radius: calc(.25rem - 1px)
}

.newcard-deck {
  display: flex;
  flex-direction: column
}

.newcard-deck .newcard {
  margin-bottom: 15px
}

@media (min-width:576px) {
  .newcard-deck {
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px
  }

  .newcard-deck .newcard {
    display: flex;
    flex: 1 0 0%;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px
  }
}

.newcard-group {
  display: flex;
  flex-direction: column
}

.newcard-group>.newcard {
  margin-bottom: 15px
}

@media (min-width:576px) {
  .newcard-group {
    flex-flow: row wrap
  }

  .newcard-group>.newcard {
    flex: 1 0 0%;
    margin-bottom: 0
  }

  .newcard-group>.newcard+.newcard {
    margin-left: 0;
    border-left: 0
  }

  .newcard-group>.newcard:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
  }

  .newcard-group>.newcard:first-child .newcard-header,
  .newcard-group>.newcard:first-child .newcard-img-top {
    border-top-right-radius: 0
  }

  .newcard-group>.newcard:first-child .newcard-footer,
  .newcard-group>.newcard:first-child .newcard-img-bottom {
    border-bottom-right-radius: 0
  }

  .newcard-group>.newcard:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }

  .newcard-group>.newcard:last-child .newcard-header,
  .newcard-group>.newcard:last-child .newcard-img-top {
    border-top-left-radius: 0
  }

  .newcard-group>.newcard:last-child .newcard-footer,
  .newcard-group>.newcard:last-child .newcard-img-bottom {
    border-bottom-left-radius: 0
  }

  .newcard-group>.newcard:only-child {
    border-radius: .25rem
  }

  .newcard-group>.newcard:only-child .newcard-header,
  .newcard-group>.newcard:only-child .newcard-img-top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
  }

  .newcard-group>.newcard:only-child .newcard-footer,
  .newcard-group>.newcard:only-child .newcard-img-bottom {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
  }

  .newcard-group>.newcard:not(:first-child):not(:last-child):not(:only-child),
  .newcard-group>.newcard:not(:first-child):not(:last-child):not(:only-child) .newcard-footer,
  .newcard-group>.newcard:not(:first-child):not(:last-child):not(:only-child) .newcard-header,
  .newcard-group>.newcard:not(:first-child):not(:last-child):not(:only-child) .newcard-img-bottom,
  .newcard-group>.newcard:not(:first-child):not(:last-child):not(:only-child) .newcard-img-top {
    border-radius: 0
  }
}

.newcard-columns .newcard {
  margin-bottom: .75rem
}

.newcard {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.newcard .newcard-category:not([class*=text-]) {
  color: #999
}

.newcard .newcard-category {
  margin-top: 10px
}

.newcard .newcard-category .material-icons {
  position: relative;
  top: 8px;
  line-height: 0
}

.newcard .form-check {
  margin-top: 15px
}

.newcard .newcard-title {
  margin-top: .625rem
}

.newcard .newcard-title:last-child {
  margin-bottom: 0
}

.newcard.no-shadow .newcard-header-image,
.newcard.no-shadow .newcard-header-image img {
  box-shadow: none !important
}

.newcard .newcard-body,
.newcard .newcard-footer {
  padding: .9375rem 1.875rem
}

.newcard .newcard-body+.newcard-footer {
  padding-top: 0;
  border: 0;
  border-radius: 6px
}

.newcard .newcard-footer {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0
}

.newcard .newcard-footer .author,
.newcard .newcard-footer .stats {
  display: inline-flex
}

.newcard .newcard-footer .stats {
  color: #999
}

.newcard .newcard-footer .stats .material-icons {
  position: relative;
  top: -10px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 18px
}

.newcard.bmd-card-raised {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

@media (min-width:992px) {
  .newcard.bmd-card-flat {
    box-shadow: none
  }
}

.newcard .newcard-header {
  border-bottom: none;
  background: transparent
}

.newcard .newcard-header .title {
  color: #fff
}

.newcard .newcard-header .nav-tabs {
  padding: 0
}

.newcard .newcard-header.newcard-header-image {
  position: relative;
  padding: 0;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px
}

.newcard .newcard-header.newcard-header-image img {
  width: 100%;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.newcard .newcard-header.newcard-header-image .newcard-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 1.125rem;
  text-shadow: 0 2px 5px rgba(33, 33, 33, .5)
}

.newcard .newcard-header.newcard-header-image .colored-shadow {
  transform: scale(.94);
  top: 12px;
  filter: blur(12px);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  transition: opacity .45s;
  opacity: 0
}

.newcard .newcard-header.newcard-header-image.no-shadow {
  box-shadow: none
}

.newcard .newcard-header.newcard-header-image.no-shadow.shadow-normal {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.newcard .newcard-header.newcard-header-image.no-shadow .colored-shadow {
  display: none !important
}

.newcard.bg-primary,
.newcard .newcard-header-primary .newcard-icon,
.newcard .newcard-header-primary .newcard-text,
.newcard .newcard-header-primary:not(.newcard-header-icon):not(.newcard-header-text),
.newcard.newcard-rotate.bg-primary .back,
.newcard.newcard-rotate.bg-primary .front {
  background: linear-gradient(60deg, #66bb6a, #43a047)
}

.newcard.bg-info,
.newcard .newcard-header-info .newcard-icon,
.newcard .newcard-header-info .newcard-text,
.newcard .newcard-header-info:not(.newcard-header-icon):not(.newcard-header-text),
.newcard.newcard-rotate.bg-info .back,
.newcard.newcard-rotate.bg-info .front {
  background: linear-gradient(60deg, #26c6da, #00acc1)
}

.newcard.bg-success,
.newcard .newcard-header-success .newcard-icon,
.newcard .newcard-header-success .newcard-text,
.newcard .newcard-header-success:not(.newcard-header-icon):not(.newcard-header-text),
.newcard.newcard-rotate.bg-success .back,
.newcard.newcard-rotate.bg-success .front {
  background: linear-gradient(60deg, #66bb6a, #43a047)
}

.newcard.bg-warning,
.newcard .newcard-header-warning .newcard-icon,
.newcard .newcard-header-warning .newcard-text,
.newcard .newcard-header-warning:not(.newcard-header-icon):not(.newcard-header-text),
.newcard.newcard-rotate.bg-warning .back,
.newcard.newcard-rotate.bg-warning .front {
  background: linear-gradient(60deg, #ffa726, #fb8c00)
}

.newcard.bg-danger,
.newcard .newcard-header-danger .newcard-icon,
.newcard .newcard-header-danger .newcard-text,
.newcard .newcard-header-danger:not(.newcard-header-icon):not(.newcard-header-text),
.newcard.newcard-rotate.bg-danger .back,
.newcard.newcard-rotate.bg-danger .front {
  background: linear-gradient(60deg, #ef5350, #e53935)
}

.newcard.bg-rose,
.newcard .newcard-header-rose .newcard-icon,
.newcard .newcard-header-rose .newcard-text,
.newcard .newcard-header-rose:not(.newcard-header-icon):not(.newcard-header-text),
.newcard.newcard-rotate.bg-rose .back,
.newcard.newcard-rotate.bg-rose .front {
  background: linear-gradient(60deg, #ec407a, #d81b60)
}

.newcard .newcard-header-primary .newcard-icon,
.newcard .newcard-header-primary .newcard-text,
.newcard .newcard-header-primary:not(.newcard-header-icon):not(.newcard-header-text) {
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2)
}

.newcard .newcard-header-danger .newcard-icon,
.newcard .newcard-header-danger .newcard-text,
.newcard .newcard-header-danger:not(.newcard-header-icon):not(.newcard-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4)
}

.newcard .newcard-header-rose .newcard-icon,
.newcard .newcard-header-rose .newcard-text,
.newcard .newcard-header-rose:not(.newcard-header-icon):not(.newcard-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4)
}

.newcard .newcard-header-warning .newcard-icon,
.newcard .newcard-header-warning .newcard-text,
.newcard .newcard-header-warning:not(.newcard-header-icon):not(.newcard-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4)
}

.newcard .newcard-header-info .newcard-icon,
.newcard .newcard-header-info .newcard-text,
.newcard .newcard-header-info:not(.newcard-header-icon):not(.newcard-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(0, 188, 212, .4)
}

.newcard .newcard-header-success .newcard-icon,
.newcard .newcard-header-success .newcard-text,
.newcard .newcard-header-success:not(.newcard-header-icon):not(.newcard-header-text) {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4)
}

.newcard[class*=bg-],
.newcard[class*=bg-] .newcard-title,
.newcard[class*=bg-] .newcard-title a,
.newcard[class*=bg-] .icon i,
.newcard [class*=card-header-],
.newcard [class*=card-header-] .newcard-title,
.newcard [class*=card-header-] .newcard-title a,
.newcard [class*=card-header-] .icon i {
  color: #fff
}

.newcard[class*=bg-] .icon i,
.newcard [class*=card-header-] .icon i {
  border-color: hsla(0, 0%, 100%, .25)
}

.newcard[class*=bg-] .author a,
.newcard[class*=bg-] .newcard-category,
.newcard[class*=bg-] .newcard-description,
.newcard[class*=bg-] .stats,
.newcard [class*=card-header-] .author a,
.newcard [class*=card-header-] .newcard-category,
.newcard [class*=card-header-] .newcard-description,
.newcard [class*=card-header-] .stats {
  color: hsla(0, 0%, 100%, .8)
}

.newcard[class*=bg-] .author a:active,
.newcard[class*=bg-] .author a:focus,
.newcard[class*=bg-] .author a:hover,
.newcard [class*=card-header-] .author a:active,
.newcard [class*=card-header-] .author a:focus,
.newcard [class*=card-header-] .author a:hover {
  color: #fff
}

.newcard .author .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px
}

.newcard .author a {
  color: #3c4858;
  text-decoration: none
}

.newcard .author a .ripple-container {
  display: none
}

.newcard .newcard-category-social .fa {
  font-size: 24px;
  position: relative;
  margin-top: -4px;
  top: 2px;
  margin-right: 5px
}

.newcard .newcard-category-social .material-icons {
  position: relative;
  top: 5px
}

.newcard[class*=bg-],
.newcard[class*=bg-] .newcard-body {
  border-radius: 6px
}

.newcard[class*=bg-] .newcard-body h1 small,
.newcard[class*=bg-] .newcard-body h2 small,
.newcard[class*=bg-] .newcard-body h3 small,
.newcard[class*=bg-] h1 small,
.newcard[class*=bg-] h2 small,
.newcard[class*=bg-] h3 small {
  color: hsla(0, 0%, 100%, .8)
}

.newcard .newcard-stats {
  background: transparent;
  display: flex
}

.newcard .newcard-stats .author,
.newcard .newcard-stats .stats {
  display: inline-flex
}

.newcard-plain {
  background: transparent;
  box-shadow: none !important
}

.newcard-plain .newcard-header:not(.newcard-avatar) {
  margin-left: 0;
  margin-right: 0
}

.newcard-plain .newcard-header:not(.newcard-avatar) .newcard-category,
.newcard-plain .newcard-header:not(.newcard-avatar) .newcard-description {
  color: #999
}

.newcard-plain .newcard-body {
  padding-left: 5px;
  padding-right: 5px
}

.newcard-plain .newcard-header-image {
  margin: 0 !important;
  border-radius: 6px
}

.newcard-plain .newcard-header-image img {
  border-radius: 6px
}

.newcard-plain .newcard-footer {
  padding-left: 5px;
  padding-right: 5px;
  background-color: transparent
}

.newcard-profile,
.newcard-testimonial {
  margin-top: 30px;
  text-align: center
}

.newcard-profile .newcard-avatar,
.newcard-testimonial .newcard-avatar {
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.newcard-profile .newcard-avatar+.newcard-body,
.newcard-testimonial .newcard-avatar+.newcard-body {
  margin-top: 15px
}

.newcard-profile .newcard-avatar img,
.newcard-testimonial .newcard-avatar img {
  width: 100%;
  height: auto
}

.newcard-profile .newcard-body+.newcard-footer,
.newcard-testimonial .newcard-body+.newcard-footer {
  margin-top: -15px
}

.newcard-profile .newcard-footer .btn.btn-just-icon,
.newcard-testimonial .newcard-footer .btn.btn-just-icon {
  font-size: 20px;
  padding: 12px;
  line-height: 1em
}

.newcard-plain.newcard-profile .newcard-avatar,
.newcard-plain.newcard-testimonial .newcard-avatar {
  margin-top: 0
}

.newcard-testimonial .newcard-avatar {
  max-width: 100px;
  max-height: 100px
}

.newcard-testimonial .newcard-footer {
  margin-top: 0;
  display: block
}

.newcard-testimonial .newcard-footer .newcard-avatar {
  margin-top: 10px;
  margin-bottom: -60px
}

.newcard-testimonial .newcard-description {
  font-style: italic
}

.newcard-testimonial .newcard-description+.newcard-title,
.newcard-testimonial .icon {
  margin-top: 30px
}

.newcard-testimonial .icon .material-icons {
  font-size: 40px
}

.newcard-profile .newcard-header:not([class*=card-header-]) {
  background: transparent;
  box-shadow: none
}

.newcard-profile .newcard-avatar {
  max-width: 130px;
  max-height: 130px
}

.newcard-blog {
  margin-top: 60px
}

.newcard-blog [class*=col-] .newcard-header-image img {
  width: 100%
}

.newcard-blog .carf-footer .stats .material-icons {
  font-size: 18px;
  position: relative;
  top: 4px;
  width: 19px
}

.newcard-product {
  margin-top: 30px
}

.newcard-product .btn-simple.btn-just-icon {
  padding: 0
}

.newcard-product .newcard-footer .price h4 {
  margin-bottom: 0
}

.newcard-product .newcard-footer .btn {
  margin: 0
}

.newcard-product .newcard-category,
.newcard-product .newcard-description,
.newcard-product .newcard-title {
  text-align: center
}

.newcard-product .category {
  margin-bottom: 0
}

.newcard-product .category~.newcard-title {
  margin-top: 0
}

.newcard-product .price {
  font-size: 18px;
  color: #9a9a9a
}

.newcard-product .price-old {
  text-decoration: line-through;
  font-size: 16px;
  color: #9a9a9a
}

.newcard-product .price-new {
  color: #f44336
}

.newcard-pricing {
  text-align: center
}

.newcard-pricing:after {
  background-color: rgba(0, 0, 0, .7) !important
}

.newcard-pricing .newcard-title {
  margin-top: 30px
}

.newcard-pricing .newcard-body {
  padding: 15px !important;
  margin: 0 !important
}

.newcard-pricing .newcard-icon {
  padding: 10px 0 0
}

.newcard-pricing .newcard-icon i {
  font-size: 55px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 130px;
  line-height: 130px;
  height: 130px
}

.newcard-pricing h1 small {
  font-size: 18px;
  display: inline-flex;
  height: 0
}

.newcard-pricing h1 small:first-child {
  position: relative;
  top: -17px;
  font-size: 26px
}

.newcard-pricing ul {
  list-style: none;
  padding: 0;
  max-width: 240px;
  margin: 10px auto
}

.newcard-pricing ul li {
  color: #999;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid hsla(0, 0%, 60%, .3)
}

.newcard-pricing ul li:last-child {
  border: 0
}

.newcard-pricing ul li b {
  color: #3c4858
}

.newcard-pricing ul li i {
  top: 6px;
  position: relative
}

.newcard-pricing.newcard-background ul li,
.newcard-pricing[class*=bg-] ul li {
  color: #fff;
  border-color: hsla(0, 0%, 100%, .3)
}

.newcard-pricing.newcard-background ul li b,
.newcard-pricing[class*=bg-] ul li b {
  color: #fff;
  font-weight: 700
}

.newcard-pricing.newcard-background .newcard-category,
.newcard-pricing.newcard-background [class*=text-],
.newcard-pricing[class*=bg-] .newcard-category,
.newcard-pricing[class*=bg-] [class*=text-] {
  color: #fff !important
}

.newcard-pricing .newcard-footer {
  z-index: 2
}

.newcard-collapse,
.newcard-collapse .newcard-header {
  box-shadow: none;
  background-color: transparent;
  border-radius: 0
}

.newcard-collapse {
  margin: 0
}

.newcard-collapse .newcard-header {
  border-bottom: 1px solid #ddd;
  padding: 25px 10px 5px 0;
  margin: 0;
  box-shadow: none !important;
  background: #fff
}

.newcard-collapse .newcard-header a {
  color: #3c4858;
  font-size: .9375rem;
  display: block
}

.newcard-collapse .newcard-header a:active,
.newcard-collapse .newcard-header a:hover,
.newcard-collapse .newcard-header a[aria-expanded=true] {
  color: #e91e63
}

.newcard-collapse .newcard-header a i {
  float: right;
  top: 4px;
  position: relative
}

.newcard-collapse .newcard-header a[aria-expanded=true] i {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.newcard-collapse .newcard-body {
  padding: 15px 0 5px
}

.newcard-signup .newcard-header {
  margin: -40px 20px 15px;
  padding: 20px 0;
  width: 100%
}

.newcard-signup .text-divider {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center
}

.newcard-signup .newcard-body {
  padding: 0 30px 0 10px
}

.newcard-signup .form-check {
  padding-top: 27px
}

.newcard-signup .form-check label {
  margin-left: 18px
}

.newcard-signup .form-check .form-check-sign {
  padding-right: 27px
}

.newcard-signup .social-line {
  margin-top: 1rem;
  text-align: center;
  padding: 0
}

.newcard-signup .social-line .btn {
  color: #fff;
  margin-left: 5px;
  margin-right: 5px
}

.newcard-form-horizontal .newcard-body {
  padding-left: 15px;
  padding-right: 15px
}

.newcard-form-horizontal .form-group .form-control,
.newcard-form-horizontal .input-group .form-control {
  margin-bottom: 0
}

.newcard-form-horizontal .btn,
.newcard-form-horizontal form {
  margin: 0
}

.newcard-form-horizontal .input-group .input-group-addon {
  padding-left: 0
}

.newcard-form-horizontal .bmd-form-group {
  padding-bottom: 0;
  padding-top: 0
}

.newcard-background {
  background-position: 50%;
  background-size: cover;
  text-align: center
}

.newcard-background .newcard-body {
  position: relative;
  z-index: 2;
  min-height: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 440px;
  margin: 0 auto
}

.newcard-background .newcard-category,
.newcard-background .newcard-description,
.newcard-background small {
  color: hsla(0, 0%, 100%, .7) !important
}

.newcard-background .newcard-title {
  color: #fff;
  margin-top: 10px
}

.newcard-background:not(.newcard-pricing) .btn {
  margin-bottom: 0
}

.newcard-background:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, .56);
  border-radius: 6px
}

.newcard {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14)
}

.newcard .table tr:first-child td {
  border-top: none
}

.newcard .newcard-title {
  margin-top: 0;
  margin-bottom: 3px
}

.newcard .newcard-body {
  padding: .9375rem 20px;
  position: relative
}

.newcard .newcard-header {
  z-index: 3 !important
}

.newcard .newcard-header .newcard-category {
  margin: 0
}

.newcard .newcard-header.newcard-header-text {
  display: inline-block
}

.newcard .newcard-header.newcard-header-text:after {
  content: "";
  display: table
}

.newcard .newcard-header.newcard-header-icon i,
.newcard .newcard-header.newcard-header-text i {
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px
}

.newcard .newcard-header.newcard-header-icon .newcard-title,
.newcard .newcard-header.newcard-header-text .newcard-title {
  margin-top: 15px;
  color: #3c4858
}

.newcard .newcard-header.newcard-header-icon h4,
.newcard .newcard-header.newcard-header-text h4 {
  font-weight: 300
}

.newcard .newcard-header.newcard-header-tabs .nav-tabs {
  background: transparent;
  padding: 0
}

.newcard .newcard-header.newcard-header-tabs .nav-tabs-title {
  float: left;
  padding: 10px 10px 10px 0;
  line-height: 24px
}

.newcard.newcard-plain .newcard-header.newcard-header-icon+.newcard-body .newcard-category,
.newcard.newcard-plain .newcard-header.newcard-header-icon+.newcard-body .newcard-title {
  margin-top: -20px
}

.newcard .newcard-actions {
  position: absolute;
  z-index: 1;
  top: -50px;
  width: calc(100% - 30px);
  left: 17px;
  right: 17px;
  text-align: center
}

.newcard .newcard-actions .newcard-header {
  padding: 0;
  min-height: 160px
}

.newcard .newcard-actions .btn {
  padding-left: 12px;
  padding-right: 12px
}

.newcard .newcard-actions .fix-broken-card {
  position: absolute;
  top: -65px
}

.newcard.newcard-chart .newcard-footer i:nth-child(1n+2) {
  width: 18px;
  text-align: center
}

.newcard.newcard-chart .newcard-category {
  margin: 0
}

.newcard .newcard-body+.newcard-footer,
.newcard .newcard-footer {
  padding: 0;
  padding-top: 10px;
  margin: 0 15px 10px;
  border-radius: 0;
  justify-content: space-between;
  align-items: center
}

.newcard .newcard-body+.newcard-footer h6,
.newcard .newcard-footer h6 {
  width: 100%
}

.newcard .newcard-body+.newcard-footer .stats,
.newcard .newcard-footer .stats {
  color: #999;
  font-size: 12px;
  line-height: 22px
}

.newcard .newcard-body+.newcard-footer .stats .newcard-category,
.newcard .newcard-footer .stats .newcard-category {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0
}

.newcard .newcard-body+.newcard-footer .stats .material-icons,
.newcard .newcard-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px
}

.newcard [class*=card-header-] {
  margin: 0 15px;
  padding: 0;
  position: relative
}

.newcard [class*=card-header-]:not(.newcard-header-icon):not(.newcard-header-text):not(.newcard-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px
}

.newcard [class*=card-header-] .newcard-icon,
.newcard [class*=card-header-] .newcard-text {
  border-radius: 3px;
  background-color: #999;
  padding: 15px;
  margin-top: -20px;
  margin-right: 15px;
  float: left
}

.newcard [class*=card-header-] .newcard-text {
  float: none;
  display: inline-block;
  margin-right: 0
}

.newcard [class*=card-header-] .newcard-text .newcard-title {
  color: #fff;
  margin-top: 0
}

.newcard [class*=card-header-] .ct-chart .newcard-title {
  color: #fff
}

.newcard [class*=card-header-] .ct-chart .newcard-category {
  margin-bottom: 0;
  color: hsla(0, 0%, 100%, .62)
}

.newcard [class*=card-header-] .ct-chart .ct-label {
  color: hsla(0, 0%, 100%, .7)
}

.newcard [class*=card-header-] .ct-chart .ct-grid {
  stroke: hsla(0, 0%, 100%, .2)
}

.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-bar,
.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-line,
.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-point,
.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-slice-donut {
  stroke: hsla(0, 0%, 100%, .8)
}

.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-area,
.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-slice-pie {
  fill: hsla(0, 0%, 100%, .4)
}

.newcard [class*=card-header-] .ct-chart .ct-series-a .ct-bar {
  stroke-width: 10px
}

.newcard [class*=card-header-] .ct-chart .ct-point {
  stroke-width: 10px;
  stroke-linecap: round
}

.newcard [class*=card-header-] .ct-chart .ct-line {
  fill: none;
  stroke-width: 4px
}

.newcard [data-header-animation=true] {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: all .3s cubic-bezier(.34, 1.61, .7, 1)
}

.newcard:hover [data-header-animation=true] {
  -webkit-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0)
}

.newcard.newcard-stats .newcard-header.newcard-header-icon,
.newcard.newcard-stats .newcard-header.newcard-header-text {
  text-align: right
}

.newcard.newcard-stats .newcard-header .newcard-icon+.newcard-category,
.newcard.newcard-stats .newcard-header .newcard-icon+.newcard-title {
  padding-top: 10px
}

.newcard.newcard-stats .newcard-header .newcard-category,
.newcard.newcard-stats .newcard-header .newcard-title {
  margin: 0
}

.newcard.newcard-stats .newcard-header .newcard-category {
  margin-bottom: 0;
  margin-top: 0
}

.newcard.newcard-stats .newcard-header .newcard-category:not([class*=text-]) {
  color: #999;
  font-size: 14px
}

.newcard.newcard-stats .newcard-header+.newcard-footer {
  border-top: 1px solid #eee;
  margin-top: 20px
}

.newcard.newcard-stats .newcard-header i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
  text-align: center
}

.newcard.newcard-stats .newcard-body {
  text-align: right
}

.newcard .map {
  height: 280px;
  border-radius: 6px;
  margin-top: 15px
}

.newcard .map.map-big {
  height: 420px
}

.newcard .newcard-body.table-full-width {
  padding: 0
}

.newcard .newcard-plain .newcard-header-icon {
  margin-right: 15px !important
}

.iframe-container {
  margin: 0 -20px
}

.iframe-container iframe {
  width: 100%;
  height: 500px;
  border: 0;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.newcard-wizard .nav.nav-pills .nav-item {
  margin: 0
}

.newcard-wizard .nav.nav-pills .nav-item .nav-link {
  padding: 6px 15px !important
}

.newcard-wizard .nav-pills:not(.flex-column) .nav-item+.nav-item:not(:first-child) {
  margin-left: 0
}

.newcard-wizard .nav-item .nav-link.active,
.newcard-wizard .nav-item .nav-link:focus,
.newcard-wizard .nav-item .nav-link:hover {
  background-color: inherit !important;
  box-shadow: none !important
}

.newcard-wizard .input-group-text {
  padding: 6px 15px 0 !important
}

.newcard-wizard .newcard-footer {
  border-top: none !important
}

.newcard-chart .newcard-body+.newcard-footer,
.newcard-product .newcard-body+.newcard-footer {
  border-top: 1px solid #eee
}

.newcard-product .price {
  color: inherit
}

.newcard-collapse {
  margin-bottom: 15px
}

.newcard-collapse .newcard .newcard-header a[aria-expanded=true] {
  color: #e91e63
}

.main-title {
  position: absolute;
  top: 0px;
  z-index: -1000;
  left: 100px;
}

.subtittle {
  margin: 0 20px 0px;
  border-bottom: 1px solid #dbd5d5
}

.pad-subtittle {
  padding-top: 10px;
  padding-bottom: 20px
}

.subtittle-icon {
  vertical-align: top;
  font-size: 20px !important
}

.sub-subtittle {
  margin: 0 50px 10px;
}

.divider {
  margin: 0 20px 0px;
  border-bottom: 1px solid #dbd5d5;
}

.login {
  max-width: 450px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px
}

.login-title {
  font-weight: 500;
}

.log_img {
  height: 65px;
  width: 65px
}

.log_h {
  position: absolute;
  left: 70px;
}

.login-header {
  padding-top: 25%;
  padding-left: 20px;
  padding-right: 20px;
  width: 450px;
  min-width: 300px
}

.login-btn {
  padding: 5px 30px;
}

.timeinfomain {
  padding-left: 0px;
  padding-right: 30px;
  position: absolute;
  top: 70px;
  right: 0px;
}

.timeinfo {
  padding-left: 20px;
  padding-right: 30px;
  position: absolute;
  top: 115px;
  right: 0px;
}

.timeinfoother {
  padding-left: 20px;
  padding-right: 30px;
  position: absolute;
  top: 125px;
  right: 0px;
}

.login-footer {
  font-size: x-small;
  float: right
}

.toplogo {
  position: absolute;
}

.mainpage-title {
  padding-left: 100px;
}

.page-title {
  padding-left: 100px;
}

@media (max-width: 368px) {
  .mainpage-title {
    padding-left: 15px;
    padding-top: 15px;
  }

  .page-title {
    padding-left: 15px;
    padding-top: 15px;
  }

  .main-title {
    font-size: smaller;
  }
}

@media (max-width: 515px) {
  .main-title {
    position: relative;
    z-index: -1000;
    padding-right: 145px;

  }

  .timeinfomain {
    padding-left: 0px;
    padding-right: 30px;
    position: relative;
    top: 0px;
  }

  .timeinfo {
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    top: 0px;
  }

  .timeinfoother {
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    top: 0px;
  }

  .main-panel>.content-header {
    margin-top: 70px;
    padding-bottom: 0px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar {
    padding-top: 0px;
  }
}

@media (max-width: 718px) {
  .timeinfo {
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    top: 0px;
  }

  .pad-subtittle {
    padding-bottom: 10px
  }
}

@media (max-width: 768px) {
  .toplogo {
    left: 15px;
    top: 15px;
  }
}

/* -------------------------------------------------------- */

.page-header {
  height: 100%;
  min-height: -webkit-fill-available;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center
}

.page-header .carousel .carousel-indicators {
  bottom: 60px
}

.page-header .title,
.page-header>.container {
  color: #fff
}

.page-header.header-small {
  height: 65vh;
  min-height: 65vh
}

.page-header .iframe-container iframe {
  width: 100%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

.header-filter {
  position: relative;
}

.header-filter:after,
.header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: ""
}

.header-filter::before {
  background: rgba(0, 0, 0, .5)
}

.header-filter .container {
  z-index: 2;
  position: relative
}

.logincontent {
  z-index: 2;
  position: relative;
  max-width: 450px;
  align-items: center;
  margin: auto;
  height: 100%
}

.clear-filter::before {
  background: 0 0
}

.purple-filter:after {
  background: rgba(101, 47, 142, .64);
  background: linear-gradient(45deg, rgba(101, 47, 142, .88) 0, rgba(125, 46, 185, .45) 100%);
  background: -webkit-linear-gradient(135deg, rgba(101, 47, 142, .88) 0, rgba(125, 46, 185, .45) 100%)
}

.header-filter[filter-color=purple]:after,
.header-filter[filter-color=primary]:after {
  background: rgba(225, 190, 231, .56);
  background: linear-gradient(60deg, rgba(225, 190, 231, .56), rgba(186, 104, 200, .95))
}

.header-filter[filter-color=blue]:after,
.header-filter[filter-color=info]:after {
  background: rgba(178, 235, 242, .56);
  background: linear-gradient(60deg, rgba(178, 235, 242, .56), rgba(77, 208, 225, .95))
}

.header-filter[filter-color=green]:after,
.header-filter[filter-color=success]:after {
  background: rgba(165, 214, 167, .56);
  background: linear-gradient(60deg, rgba(165, 214, 167, .56), rgba(102, 187, 106, .95))
}

.header-filter[filter-color=grey]:after,
.header-filter[filter-color=success]:after {
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.88), rgba(207, 208, 209, 0.6))
}

.header-filter[filter-color=orange]:after,
.header-filter[filter-color=warning]:after {
  background: rgba(255, 224, 178, .56);
  background: linear-gradient(60deg, rgba(255, 224, 178, .56), rgba(255, 183, 77, .95))
}

.header-filter[filter-color=danger]:after,
.header-filter[filter-color=red]:after {
  background: rgba(239, 154, 154, .56);
  background: linear-gradient(60deg, rgba(239, 154, 154, .56), rgba(239, 83, 80, .95))
}

.header-filter[filter-color=rose]:after {
  background: rgba(248, 187, 208, .56);
  background: linear-gradient(60deg, rgba(248, 187, 208, .56), rgba(240, 98, 146, .95))
}

.clear-filter:before {
  display: none
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1turn);
  }
}

.w-block {
  -webkit-animation: scaledown 1s linear;
  -moz-animation: scaledown 1s linear;
  animation: scaledown 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.w-block:hover {
  z-index: 100;
  -webkit-animation: w-scale 1s linear;
  -moz-animation: w-scale 1s linear;
  animation: w-scale 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.o-block {
  -webkit-animation: scaledown 1s linear;
  -moz-animation: scaledown 1s linear;
  animation: scaledown 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.o-block:hover {
  z-index: 100;
  -webkit-animation: o-scale 1s linear;
  -moz-animation: o-scale 1s linear;
  animation: o-scale 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.g-block {
  -webkit-animation: scaledown 1s linear;
  -moz-animation: scaledown 1s linear;
  animation: scaledown 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.g-block:hover {
  z-index: 100;
  -webkit-animation: g-scale 1s linear;
  -moz-animation: g-scale 1s linear;
  animation: g-scale 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.r-block {
  -webkit-animation: scaledown 1s linear;
  -moz-animation: scaledown 1s linear;
  animation: scaledown 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

.r-block:hover {
  z-index: 100;
  -webkit-animation: r-scale 1s linear;
  -moz-animation: r-scale 1s linear;
  animation: r-scale 1s linear;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}


@keyframes w-scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
    -webkit-box-shadow: 0 1px 20px 0 rgba(0, 7, 11, 0.5);
    -moz-box-shadow: 0 1px 20px 0 rgba(0, 7, 11, 0.5);
    box-shadow: 0 1px 20px 0 rgba(0, 7, 11, 0.5);
  }
}

@keyframes o-scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
    -webkit-box-shadow: 0 12px 20px 0px rgba(255, 152, 0, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.34);
    -moz-box-shadow: 0 12px 20px 0px rgba(255, 152, 0, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.34);
    box-shadow: 0 12px 20px 0px rgba(255, 152, 0, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.34);
  }
}

@keyframes g-scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
    -webkit-box-shadow: 0 12px 20px 0px rgba(76, 175, 80, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.34);
    -moz-box-shadow: 0 12px 20px 0px rgba(76, 175, 80, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.34);
    box-shadow: 0 12px 20px 0px rgba(76, 175, 80, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.34);
  }
}

@keyframes r-scale {
  0% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
    -webkit-box-shadow: 0 12px 20px 0px rgba(244, 67, 54, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.34);
    -moz-box-shadow: 0 12px 20px 0px rgba(244, 67, 54, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.34);
    box-shadow: 0 12px 20px 0px rgba(244, 67, 54, 0.47), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.34);
  }
}

@keyframes scaledown {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}

.modal-icon {
  width: 24px;
  float: left;
  height: 24px;
}

.modal-icon-title {
  white-space: nowrap;
  display: inline-block;
  margin-top: 3px;
}

.modal-title-cover {
  position: absolute;
  text-align: center;
  padding: 12px;
  top: 5px;
  left: 0;
  border-radius: 4px;
  color: white;
  transform: translate3d(-15px, -6px, 0px);
}

.clickable-row {
  cursor: pointer;
}

.accord-btn {
  width: 100%;
  background-color: #f6f6f6 !important;
  color: #414040 !important;
  margin: 5px 1px;
}

.accord-card-body {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 25px;
}

.formrow {
  padding: 2px 1px;
  float: left;
  width: 100%;
}


#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.select_table_tr {
  color: #eb860e;
  font-size: 13px;
  font-weight: 600;
  background-color: #f0f0f0 !important;

}

/* @media (min-width:991px) { */
.navbar .navbar-nav {
  align-items: center
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row
}

.navbar-nav {
  display: flex;
  /* flex-direction:column; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
  margin-left: 5px;
  color: inherit
}

.nav-link {
  display: block;
  padding: .5rem 1rem
}

.navbar-nav .dropdown-menu-right {
  transform-origin: 100% 0
}

.navbar-nav .dropdown-menu-right {
  right: 0;
  left: auto
}

.navbar-nav .dropdown-menu {
  position: absolute
}

.dropdown-menu.show {
  display: block
}

.dropdown-menu.show,
.open>.dropdown-menu {
  display: block;
  opacity: 1;
  transform: scale(1)
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.dropdown-menu {
  display: none;
  padding: .3125rem 0;
  border: 0;
  opacity: 0;
  transform: scale(0);
  transform-origin: 0 0;
  will-change: transform, opacity;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.dropdown-menu .dropdown-item,
.dropdown-menu li>a {
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  border-radius: .125rem;
  margin: 0 .3125rem;
  transition: all .15s linear;
  min-width: 7rem;
  padding: .625rem 1.25rem;
  overflow: hidden;
  line-height: 1.428571;
  text-overflow: ellipsis;
  word-wrap: break-word
}

.dropdown-menu .dropdown-item,
.dropdown-menu li>a {
  padding-right: 1.5rem;
  padding-left: 1.5rem
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
  box-shadow: 0 4px 5px 0 rgba(39, 144, 176, 0.1), 0 1px 10px 0 rgba(39, 107, 176, 0.2), 0 2px 4px -1px rgba(27, 112, 168, 0.1);
  background-color: #1169a7;
  color: #fff
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .625rem 1.25rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #2196f3
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  background-color: transparent
}