/*Tanzania Government eLectronic Payment Gateway*/
/*@2017*/

/* Table of Content
==================================================
	# Tables
==================================================*/


/* # Tables
================================================== */

table .selector, table .selector > span, .dataTables_length .selector, .dataTables_length .selector > span { height: 26px; line-height: 26px; }
.dataTables_length .selector { margin-top: 1px; }
table thead td.sortCol > div { cursor: pointer; position: relative; }
table thead td span { background: url(../images/tables/sort.png) no-repeat 0; display: block; /*position: absolute; right: 3px; top: 3px; width: 16px*/width: 7px; float: right; margin: 2px 2px 0 5px; height: 16px; }
table thead td.headerSortUp span { background: url(../images/tables/sortUp.png) no-repeat 0; }
table thead td.headerSortDown span { background: url(../images/tables/sortDown.png) no-repeat 0; }

.checkAll tbody tr td:first-child { width: 40px; padding: 0; vertical-align: middle; margin: 0;}
.checkAll tbody tr td:first-child .checker, .checkAll tbody tr td:first-child .radio { margin: 0 auto; float: none; }


/* ===== Simple table ===== */

.justTable td { vertical-align: middle; }
.justTable tbody tr:first-child { border-top: none; }
.justTable tbody tr:first-child td { box-shadow: 0 1px 0 #fafafa inset; -webkit-box-shadow: 0 1px 0 #fafafa inset; -moz-box-shadow: 0 1px 0 #fafafa inset; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; } 


/* ===== Default table ===== */

.tDefault tbody td, .tDefault thead td { border-left: 1px solid #DFDFDF; box-shadow: 0 1px 0 #fafafa inset; -webkit-box-shadow: 0 1px 0 #fafafa inset; -moz-box-shadow: 0 1px 0 #fafafa inset; }
.tDefault tbody td:first-child, .tDefault thead td:first-child { border-left: none; }
.checkAll thead td:first-child > img { vertical-align: middle; padding-bottom: 2px; }
.tDefault thead td { text-align: center; font-size: 11px; padding: 3px 5px 2px 5px; color: #2E6B9B; background: #eee; font-weight: bold; }
.tDefault tbody td { padding: 7px 11px; vertical-align: middle; font-size: 13px; color: #000;}
.tDefault tbody tr { border-top: 1px solid #DFDFDF; }
.tDefault tbody tr:first-child { box-shadow: 0 1px 0px #fff inset; -webkit-box-shadow: 0 1px 0px #fff inset; -moz-box-shadow: 0 1px 0px #fff inset; }
.tDefault tbody tr:nth-child(even) { background: #f2f2f2; }


/* ===== Light table ===== */

.tLight tbody td, .tLight thead td { border-left: 1px solid #dadada;  -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; }
.tLight tbody td:first-child, .tLight thead td:first-child { border-left: none; }
.tLight tbody td { padding: 9px 16px; vertical-align: middle; color: #777; }
.tLight tbody tr { border-top: 1px solid #dadada; }
.tLight thead td { text-align: center; padding: 7px 12px; font-weight: bold; 
background: #F8F8F8;
background: -moz-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );
}


/* ===== Dark table ===== */

.tDark tbody td { border-left: 1px solid #dadada; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; -webkit-border-top-right-radius: 2px; -moz-border-radius-topright: 2px; }
.tDark thead td { border-left: 1px solid #808080; }
.tDark tbody td:first-child, .tDark thead td:first-child { border-left: none; }
.tDark tbody td { padding: 9px 16px; vertical-align: middle; color: #777; }
.tDark tbody tr { border-top: 1px solid #dadada; }
.tDark thead td { text-align: center; padding: 7px 12px; background: url(../images/backgrounds/sidebar.jpg); font-weight: bold; color: #f5f5f5; }
.tDark tbody tr:nth-child(even) { background: #f4f4f4; }


/* ===== Media table ===== */

.tMedia thead td a { color: #878787; }
.tMedia thead td:first-child > .checker { margin: 0 auto; float: none; }
.tMedia tbody td { vertical-align: middle; text-align: center; }
.tMedia tfoot tr { height: 50px; border-top: 1px solid #ddd; 
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
background: #F8F8F8;
background: -moz-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );
}
.tMedia tfoot tr td { padding: 7px 11px; }
.fileInfo { font-size: 11px; }
.fileInfo span { display: block; }

.tableActs { text-align: center; }
.tableActs > a { margin: 0 2px; }
.tableActs > .btn-group { display: inline-block; margin: 0 2px; }

.itemActions { float: left; margin: 6px 0; }
.itemActions label { float: left; margin: 2px 12px 0 4px; font-size: 11px; }


/* === Alternate table === */

.tAlt thead td {
background: #f5f5f5;
background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
text-align: center; font-size: 11px;
border-left: 1px solid #dfdfdf;
border-bottom: 1px solid #dfdfdf;
padding: 2px 10px;
}
.tAlt tbody tr td { 
background: #f9f9f9;
background: -moz-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f2f2f2));
background: -webkit-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%);
background: -o-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%);
background: -ms-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%);
background: linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 );
border-bottom: 1px solid #dfdfdf;
}
.tAlt tbody tr td { padding: 10px; border-left: 1px solid #DFDFDF; box-shadow: 0 2px #fff inset; -webkit-box-shadow: 0 2px #fff inset; -moz-box-shadow: 0 2px #fff inset; vertical-align: middle; }
.tAlt tbody td:first-child, .tAlt thead td:first-child { border-left: none; }


/* ===== Table pagination ===== */

.tPages { float: right; margin: 9px 0; }
.tPages ul li { display: inline-block; text-align:center; }
.tPages ul li.prev a, .tPages ul li.next a { padding: 4px; }
.tPages ul li.prev { margin-right: 10px; }
.tPages ul li.next { margin-left: 10px; }
.tPages ul li a { border: 1px solid #d3d3d3; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 4px 7px; cursor: pointer; *cursor: hand; color: #606060; font-size: 11px; box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #dfdfdf; line-height: 14px; 
background: #f9f9f9;
background: -moz-linear-gradient(top,  #f9f9f9 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
background: -o-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
background: -ms-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
background: linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 );
}
.tPages ul li a:hover {  
background: #f6f6f6;
background: -moz-linear-gradient(top,  #f6f6f6 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=0 );
}
.tPages ul li a:active { background: #6f6f6f; color: #fff; border-color: #646464; box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff; -moz-box-shadow: 0 1px 2px #545454 inset, 0 1px 0 #fff; font-weight: bold; } 


/* ===== Table toolbar ===== */

.tToolbar { height: 36px; border-bottom: 1px solid #cdcdcd; 
background: #F8F8F8;
background: -moz-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(100%, #EFEFEF));
background: -webkit-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -o-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
background: linear-gradient(top, #F8F8F8 0%, #EFEFEF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#efefef',GradientType=0 );
}
.tToolbar li { display: block; float: left; border-right: 1px solid #c3c3c3; }
.tToolbar li a { padding: 7px 12px; display: block; color: #808080; font-size: 11px; box-shadow: 1px 0 0 #fcfcfc inset, -1px 0 0 #fcfcfc inset; -webkit-box-shadow: 1px 0 0 #fcfcfc inset, -1px 0 0 #fcfcfc inset; -moz-box-shadow: 1px 0 0 #fcfcfc inset, -1px 0 0 #fcfcfc inset; }   
.tToolbar li:last-child { box-shadow: 1px 0 0 #fcfcfc; -webkit-box-shadow: 1px 0 0 #fcfcfc; -moz-box-shadow: 1px 0 0 #fcfcfc; }
.tToolbar li a:hover {
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #eaeaea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eaeaea));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
background: linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 );
}
.tToolbar li a:active { background: #f8f8f8; }


/* ===== Table buttons ===== */

[class*="tablectrl"] { text-shadow: none; }
[class*="tablectrl"] .caret { margin: 5px 0 0 6px; }
.tablectrl_small { font-size: 10px; padding: 5px 5px 4px 5px; }
.tablectrl_medium { font-size: 12px; padding: 6px 6px 5px 6px; }
.tablectrl_large { font-size: 14px; padding: 7px 7px 6px 7px; }
.tablectrl_xlarge { font-size: 16px; padding: 10px 12px 11px 12px; }
.tablectrl_standard { font-size: 12px; padding: 8px; }

.opt { padding-left: 8px; padding-right: 8px; margin: 0; }
.opt > span { margin-left: 0; }
.opt .iconb { font-size: 14px; }
.opt .caret { margin: 5px 0; } 



/* # Invoice page
================================================== */

.invoice table { border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; }
.invoice .tDark { border-top: none; }
.inHead { 
border-bottom: 1px solid #c3c3c3;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
 }
.inLogo { width: 50%; padding: 17px 14px; display: block; float: left; }
.inInfo { float: right; padding: 10px 14px; text-align: right; }
.inInfo .invoiceNum { color: #A64949; font-size: 14px; font-weight: bold; }
.inInfo i { display: block; color: #909090; white-space: nowrap; line-height: 16px; }

.inFrom, .inTo { width: 40%; display: block; margin: 20px; }
.inFrom span, .inTo span { display: block; background: url(../images/elements/control/subnav_arrow.png) no-repeat 0 8px; padding-left: 12px; }
.inFrom { float: left; }
.inTo { width: 100%; }
.inFrom h5, .inTo h5 { color: #303030; margin-bottom: 8px; }

.inDesc { width: 45%; float: left; margin: 20px; }
.inDesc p { color: #9f9f9f; }
.total { text-align: right; float: right; margin: 20px 30px 20px 0; }
.total span { font-weight: bold; padding: 0 0 4px 0; display: block; }
.total strong { display: block; font-size: 24px; }

.inFooter { width: 100%; padding: 18px 0 10px 0; border-top: 1px solid #DADADA; background: #f4f4f4; }
.footnote { width: 50%; float: left; margin: 3px 20px; }

.cards { float: right; margin: 0 20px; }
.cards li { display: inline-block; text-align: right; background: url(../images/sprites/paymentIcons.png) no-repeat; width: 51px; height: 32px; padding: 0; margin-left: 8px; }

.cards li.discover { background-position: 0 -117px; }
.cards li.visa { background-position: 0 -156px; }
.cards li.amex { background-position: 0 -234px; }
.cards li.mc { background-position: 0 -195px; }
.cards li.pp { background-position: 0 -312px; }


